<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>CoffeLife</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <section th:replace="~{empleado/fragmentos :: botonesAgregar}"></section>
        <section th:replace="~{empleado/fragmentos :: agregarEmpleado}"></section>
        <section th:replace="~{empleado/fragmentos :: listadoEmpleados}"></section>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>