<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>CoFFeLife</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>   
        <link rel='stylesheet' th:href="@{../css/styless.css}"/>
        <script th:src="@{../css/rutinas.js}"></script>

    </head>
    <body>
        <!--COMIENZA-->



        <!-- COMPONENTE #1 - HEADER - NAV-->

        <nav th:fragment="header" class="navbar navbar-expand-lg" style="overflow: hidden">
            <div class="container">
                <a class="navbar-brand" href="#">—CoFFeLife—</a>
                <button class="navbar-toggler btn-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/cuentaUsuario/index_cuenta}">Cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/producto/listado}">Productos</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/reserva/listado}">Reservas</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/mesa/listado}">Mesas</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/horario/listado}">Horarios</a></li>
                        <li class="nav-item"><a class="nav-link" href="html/routes.html">Carrito</a></li>
                    </ul>

                    <div class="d-flex social-icons">
                        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- COMPONENTE #2 - HERO IMAGEN -->
        <div th:fragment="heroImagen" class="container-hero" style="position: relative; background-image: url('../img/cafe.jpg'); background-size: cover; background-position: center;">
            <div class="wrap">
                <div class="box">
                    <h1>¿Un café?</h1>
                    <p>LOREM, IPSUM DOLOR, SIT AMET CONSECTETUR ADISICIPING ELIT. DOLOREM DOLORE EA AUT FUGIT OFFICIIS NESCIUNT NULLA, VOLUPTATE PERFEENDIS MAIORES!</p>
                    <div class="botones">
                        <a href="html/offer.html" class="btn2">BUSCAR CAFETERÍA</a>					
                    </div>
                </div>
            </div>
        </div>


        <!-- COMPONENTE #3 - GALERIA -->
        <section th:fragment="galeria" class="gallery-section">
            <div class="container">
                <h1>GALERÍA</h1>
                <p class="mb-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, alias modi saepe repellat laudantium non, culpa, voluptas illo odio praesentium numquam. Id aliquam quod unde expedita consequuntur, saepe eligendi alias.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit, saepe eligendi alias.
                </p>

                <div class="row g-4">
                    <div class="col-md-4">
                        <img src="../img/cafe_1.jpg" class="gallery-img img-fluid rounded" alt="Image 1"/>
                    </div>
                    <div class="col-md-4">
                        <img src="../img/cafe_2.jpg" class="gallery-img img-fluid rounded" alt="Image 2"/>
                    </div>
                    <div class="col-md-4">
                        <img src="../img/cafe_3.jpg" class="gallery-img img-fluid rounded" alt="Image 3"/>
                    </div>
                    <div class="col-md-4">
                        <img src="../img/cafe_4.jpg" class="gallery-img img-fluid rounded" alt="Image 4"/>
                    </div>
                    <div class="col-md-4">
                        <img src="../img/cafe_5.jpg" class="gallery-img img-fluid rounded" alt="Image 5"/>
                    </div>
                    <div class="col-md-4">
                        <img src="../img/cafe_6.jpg" class="gallery-img img-fluid rounded" alt="Image 6"/>
                    </div>
                </div>

                <button class="btn btn-outline-success mt-4 px-4 py-2">Cargar Más</button>
            </div>
        </section>


        <!-- COMPONENTE #4 - PROMOCIONES -->

        <section th:fragment="paquetes" class="packets-section">
            <div class="container">
                <h1>PROMOCIONES</h1>
                <p class="text-dark">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, alias modi saepe repellat laudantium non, culpa, voluptas illo odio praesentium numquam. Id aliquam quod unde expedita consequuntur, saepe eligendi alias.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit, saepe eligendi alias.
                </p>

                <div class="row g-4 mt-4">
                    <div class="col-md-4">
                        <div class="card border-0 shadow">
                            <div class="position-relative">
                                <img src="img/cafe_7.jpg" class="card-img-top img-fluid" alt="Adventure Image"/>
                                <div class="info d-flex justify-content-around">
                                    <p>6+ <i class="fa-solid fa-people-line"></i></p>
                                    <p>2 HRS <i class="fa-solid fa-clock"></i></p>
                                    <p>Café #1 <i class="fa-solid fa-map"></i></p>
                                </div>
                            </div>
                            <div class="card-body text-start">
                                <h5 class="card-title">Título</h5>
                                <p class="card-text">
                                    Facere fugit reprehenderit nihil error quaerat, nesciunt dignissimos quidem sint corporis commodi inventore quisquam adipisci, provident cupiditate qui? Iure perferendis odio esse!
                                </p>
                                <div class="btn-footer">
                                    <button class="btn btn-outline-success">VER MÁS</button>
                                    <button class="btn btn-success btn-book-now">RESERVA</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Duplicate Cards -->
                    <div class="col-md-4">
                        <div class="card border-0 shadow">
                            <div class="position-relative">
                                <img src="img/cafe_8.jpg" class="card-img-top img-fluid" alt="Adventure Image"/>
                                <div class="info d-flex justify-content-around">
                                    <p>6+ <i class="fa-solid fa-people-line"></i></p>
                                    <p>2 HRS <i class="fa-solid fa-clock"></i></p>
                                    <p>Café #2 <i class="fa-solid fa-map"></i></p>
                                </div>
                            </div>
                            <div class="card-body text-start">
                                <h5 class="card-title">Título</h5>
                                <p class="card-text">
                                    Facere fugit reprehenderit nihil error quaerat, nesciunt dignissimos quidem sint corporis commodi inventore quisquam adipisci, provident cupiditate qui? Iure perferendis odio esse!
                                </p>
                                <div class="btn-footer">
                                    <button class="btn btn-outline-success">VER MÁS</button>
                                    <button class="btn btn-success btn-book-now">RESERVA</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card border-0 shadow">
                            <div class="position-relative">
                                <img src="img/cafe_9.jpg" class="card-img-top img-fluid" alt="Adventure Image"/>
                                <div class="info d-flex justify-content-around">
                                    <p>6+ <i class="fa-solid fa-people-line"></i></p>
                                    <p>2 HRS <i class="fa-solid fa-clock"></i></p>
                                    <p>Café #3 <i class="fa-solid fa-map"></i></p>
                                </div>
                            </div>
                            <div class="card-body text-start">
                                <h5 class="card-title">Título</h5>
                                <p class="card-text">
                                    Facere fugit reprehenderit nihil error quaerat, nesciunt dignissimos quidem sint corporis commodi inventore quisquam adipisci, provident cupiditate qui? Iure perferendis odio esse!
                                </p>
                                <div class="btn-footer">
                                    <button class="btn btn-outline-success">VER MÁS</button>
                                    <button class="btn btn-success btn-book-now">RESERVA</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-outline-success mt-4 px-4 py-2">Ver más</button>
            </div>
        </section>

        <!-- COMPONENTE #5 - Shortcut -->

        <section th:fragment="shortcut">
            <div class="container-hero" style="background-image: url('../img/cafe_5.jpg'); background-size: cover; background-position: center; position: relative;">
                <div class="text-center">
                    <h1>¡COMENZAR!</h1>
                    <p>"El café es la manera perfecta de comenzar y terminar el día." — Anónimo</p>
                    <div>
                        <a href="#" class="btn2">¡Comenzar!</a>					
                    </div>
                </div>
            </div>
        </section>


        <!-- COMPONENTE #5 - FORMULARIO -->


        <section th:fragment="formulario" class="container my-5">
            <div class="text-center">
                <h1 class="h1">CONTÁCTANOS</h1>
                <h4 class="h4-form">¡Nos encantará escucharte!</h4>
            </div>

            <div class="container-form">
                <form action="#" th:action="@{/enviarContacto}" method="post" th:object="${contacto}">
                    <div class="styled-input">
                        <input type="text"  required="true" placeholder="Nombre" th:field="*{nombre}"/>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="styled-input">
                                <input type="email" required="true" placeholder="Email" th:field="*{email}"/>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="styled-input">
                                <input type="tel" required="true" placeholder="Número" th:field="*{numero}"/>

                            </div>
                        </div>
                    </div>

                    <div class="styled-input">
                        <textarea required="true" placeholder="Mensaje" th:field="*{mensaje}"></textarea>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="submit-btn">Enviar Mensaje</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- COMPONENTE #6 - FOOTER -->

        <footer th:fragment="footer" style="background-color: #024e02;" class=" text-center text-lg-start text-white">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row mt-4">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Sobre nosotros</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#" class="text-white">Quiénes somos</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">F&A</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Dónde estamos</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Mi cuenta</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-white">Consultar</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Eliminar</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Otros</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-white">Inicio</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Contacto</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Galeria</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Promociones</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Productos</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Compras</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-white">Mis compras</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white">Historial</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2024 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">CoFFeLife.com</a>
            </div>
            <!-- Copyright -->
        </footer>

        <!-- COMPONENTE #7 - REDIRIGIR A CONTACTO -->

        <section th:fragment="btn">
            <div class="text-center">
                <h1 class="h1 mt-5">CONTÁCTANOS</h1>
                <h4 class="h4-form">¡Nos encantará escucharte!</h4>
                <button class="btn-contacto"><a style="text-decoration: none; color:white" th:href="@{/contacto/contacto}"/>CONTACTAR</button>
            </div>  
        </section>

    </body>  
</html>
