<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla_1 :: head}">
        <title>CoFFeLife</title>
    </head>
    <body>
        <header th:replace="~{layout/headerLogin :: header}"></header>
        <h1 class="text-center mt-5">VENDEDOR</h1>
        <p class="text-center mb-5">La implementación de este módulo quedaría pendiente en un futuro cuando
            el negocio crezca, ya que por el contexto actual no es necesario </p>
        <footer th:replace="~{layout/plantilla_1 :: footer}"></footer>
    </body>
</html>

