<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Coffelife</title>
    </head>
    <body>

        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="pt-4 py-4 mb-4 bg-light">
            <div class="container pt-4 mt-4">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarMesa">
                            <i class="fas fa-plus"></i> [[#{mesa.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar mesa, es la ventana modal -->
        <section th:fragment="agregarMesa">
            <div id="agregarMesa" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{mesa.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/mesa/guardar}" th:object="${mesa}"
                              method="POST" class="was-validated" >
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="capacidad">[[#{mesa.capacidad}]]</label>
                                    <input class="form-control" type="number" name="capacidad" id="capacidad"/>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad mesa -->
        <section th:fragment="listadoMesas" id="mesas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{mesa.listado}]]</h4>
                            </div>
                            <div th:if="${mesas != null and !mesas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th class="text-center">[[#{mesa.capacidad}]]</th>
                                            <th class="text-center">[[#{mesa.reserva}]]</th>
                                            <th class="text-center">[[#{mesa.accion}]]</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mesa : ${mesas}">
                                            <td class="text-center">[[${mesa.idMesa}]]</td>
                                            <td class="fs-6">Mesa para: [[${mesa.capacidad}]]</td>
                                            <td class="text-center">
                                                <span th:if="${mesa.reserva != null}" th:text="${mesa.reserva.idReserva}"></span>
                                                <span th:if="${mesa.reserva == null}">Sin reserva</span>
                                            </td>

                                            <td th:if="${mesa.reserva == null}">
                                                <a th:href="@{/mesa/eliminar/}+${mesa.idMesa}" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${mesas == null or mesas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{mesa.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalMesas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/mesa/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/mesa/eliminar/}+${mesa.idMesa}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>