<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla_1 :: head}">
        <title>CoFFeLife</title>
    </head>
    <body>
        <header th:replace="~{layout/headerLogin :: header}"></header>
        <h1 class="text-center mt-5 mb-5">Gestión de Descuentos</h1>
        <section th:replace="~{descuentos/fragmentos :: botonesAgregar}"></section>
        <section th:replace="~{descuentos/fragmentos :: descuentosTabla}"></section>
        <section th:replace="~{descuentos/fragmentos :: modalAgregarDescuento}"></section>
        <footer th:replace="~{layout/plantilla_1 :: footer}"></footer>
    </body>
</html>